{
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^types$",
    "^@/types/(.*)$",
    "",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/sass/(.*)$",
    "",
    "^@/fonts/(.*)$",
    "",
    "^@/providers/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}